<template>
  <button class="t-button">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'AppButton',
};
</script>

<style lang="scss" scoped>
  .t-button {
    @include flex(row, center, center, center, wrap);
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    background-color: $btn-color;
    color: $white;
    cursor: pointer;
    outline: none;
    &.t-button--w-150 {
      width: 9.375rem;
    }
    &:hover {
      opacity: 0.9;
    }
  }
</style>
