<template>
  <section class="dropbox">
    <app-falling-block
      v-for="(block, index) in fallingBlocks"
      :key="block.id"
      :block="block"
      :index="index"
      :time-out="timeOut"
      @finished-falling="onFinishFalling"
    />
  </section>
</template>

<script>
import FallingBlock from './AppFallingBlock';
import { mapMutations } from 'vuex';
import {
  INITIALIZE_FALLING_BLOCKS,
  MOVE_LEFT,
  MOVE_RIGHT,
  ITERATION_COUNT_INCREASING,
  TIMEOUT_STEP_DECREASING,
  INITIAL_TIMEOUT,
} from '../constants';

export default {
  name: 'Dropbox',
  components: {
    appFallingBlock: FallingBlock,
  },
  data() {
    return {
      timeOut: INITIAL_TIMEOUT,
      iterationCounter: 0,
    };
  },
  computed: {
    fallingBlocks() {
      return this.$store.state.fallingBlocks;
    },
  },
  beforeMount() {
    this.initializeFallingBlocks();
    window.addEventListener('keydown', this.onKeyDown);
  },
  beforeDestroy() {
    window.removeEventListener('keydown', this.onKeyDown);
  },
  methods: {
    ...mapMutations({
      initializeFallingBlocks: INITIALIZE_FALLING_BLOCKS,
      moveBlockRight: MOVE_RIGHT,
      moveBlockLeft: MOVE_LEFT,
    }),
    onKeyDown(ev) {
      if (ev.keyCode === 39) this.moveBlockRight();
      if (ev.keyCode === 37) this.moveBlockLeft();
    },
    onFinishFalling() {
      this.iterationCounter++;
      if (this.iterationCounter === ITERATION_COUNT_INCREASING) {
        this.timeOut -= TIMEOUT_STEP_DECREASING;
        this.iterationCounter = 0;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .dropbox {
    height: 65%;
    width: 100%;
    position: relative;
  }
</style>
