<template>
  <div>
    <app-block
      :ref="'block'"
      :block="block"
      :top="blockDropboxTop"
      :index="index"
      :is-paused="isPaused"
    />
  </div>
</template>

<script>
import Block from './AppBlock';
import { FINISH_FALLING, TEETER_TOTTER_WIDTH } from '../constants';

export default {
  name: 'AppFallingBlock',
  components: {
    appBlock: Block,
  },
  props: {
    block: {
      type: Object,
      required: true,
    },
    index: {
      type: Number,
      default: 0,
    },
    timeOut: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      blockWindowBottom: 0,
      blockDropboxTop: this.block.height,
      timer: 0,
    };
  },
  computed: {
    isPaused() {
      return this.$store.state.isPaused;
    },
    swingBending() {
      return this.$store.getters.swingBending;
    },
    blockFinalPosition() {
      const { top, bottom } = this.getSwingCoords();
      return this.swingBending >= 0
        ? top + ((bottom - top) / 2) * (1 - this.block.offset / (TEETER_TOTTER_WIDTH / 2))
        : bottom - ((bottom - top) / 2) * (1 - this.block.offset / (TEETER_TOTTER_WIDTH / 2));
    },
  },
  updated() {
    if (this.isPaused) return clearTimeout(this.timer);
    if (this.index !== 0) return;

    this.blockWindowBottom = this.$refs.block.getBlockBottomCoord();
    this.timer = setTimeout(() => {
      if (this.blockWindowBottom >= this.blockFinalPosition - 20) {
        clearTimeout(this.timer);
        this.$store.dispatch(FINISH_FALLING);
        this.$emit('finished-falling');
        return;
      }
      this.incrementBlockDropboxTop();
    }, this.timeOut);
  },
  methods: {
    getSwingCoords() {
      const { top, bottom } = document.querySelector('.swing').getBoundingClientRect();
      return {
        top, bottom,
      };
    },
    incrementBlockDropboxTop() {
      this.blockDropboxTop += 20;
    },
  },
};
</script>
