<template>
  <main class="gameArea">
    <app-dropbox />
    <app-teetle-tottle />
  </main>
</template>

<script>
import Dropbox from './AppDropbox';
import TeetleTottle from './AppTeetleTottle';

export default {
  name: 'AppGameArea',
  components:{
    appDropbox: Dropbox,
    appTeetleTottle: TeetleTottle,
  },
};
</script>

<style lang="scss" scoped>
  .gameArea {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
</style>
