<template>
  <header class="t-header">
    <app-btn
      class="t-button--w-150"
      @click.native="togglePause"
    >
      <play-icon v-if="isPaused" />
      <pause-icon v-else />
      {{ playBtnText }}
    </app-btn>
  </header>
</template>

<script>
import AppBtn from './AppButton';
import PlayIcon from 'vue-material-design-icons/Play.vue';
import PauseIcon from 'vue-material-design-icons/Pause.vue';
import { mapMutations, mapState } from 'vuex';
import { TOGGLE_PAUSE } from '../constants';

export default {
  name: 'AppHeader',
  components: {
    PlayIcon,
    PauseIcon,
    AppBtn,
  },
  computed: {
    ...mapState({
      isPaused: state => state.isPaused,
    }),
    playBtnText() {
      return this.isPaused ? 'Play' : 'Pause';
    },
  },
  methods: {
    ...mapMutations({
      togglePause: TOGGLE_PAUSE,
    }),
  },
};
</script>

<style lang="scss" scoped>
  .t-header {
    padding: 0.5rem;
    background-color: $theme-color;
  }
</style>
