<template>
  <div
    class="swing"
    :style="inlineStyleSwing"
  >
    <app-block
      v-for="block in leftSideBlocks"
      :key="block.id"
      :block="block"
    />
    <app-block
      v-for="block in rightSideBlocks"
      :key="block.id"
      :block="block"
      :side="true"
    />
  </div>
</template>

<script>
import Block from './AppBlock';
import { mapState, mapMutations } from 'vuex';
import { ADD_RIGHT_SIDE_BLOCK } from '../constants';

export default {
  name: 'AppSwing',
  components: {
    appBlock: Block,
  },
  computed: {
    ...mapState([
      'rightSideBlocks',
      'leftSideBlocks',
    ]),
    swingBending() {
      return this.$store.getters.swingBending;
    },
    inlineStyleSwing() {
      return {
        transform: `rotate(${this.swingBending / 2}deg)`,
      };
    },
  },
  beforeMount() {
    this.addRightBlock();
  },
  methods: {
    ...mapMutations({
      addRightBlock: ADD_RIGHT_SIDE_BLOCK,
    }),
  },
};
</script>

<style lang="scss" scoped>
  .swing {
    width: 100%;
    height: 0.5rem;
    background-color: #263238;
    position: relative;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
  }
</style>
