<template>
  <section class="teetleTottle">
    <app-swing />
    <app-pillar />
  </section>
</template>

<script>
import Swing from './AppSwing';
import Pillar from './AppPillar';

export default {
  name: 'AppTeetleTottle',
  components: {
    appSwing: Swing,
    appPillar: Pillar,
  },
};
</script>

<style scoped>
    .teetleTottle{
        height: 35%;
        width: 100%;
    }
</style>
