<template>
  <div id="app">
    <app-header />
    <app-game-area />
  </div>
</template>

<script>
import Header from './components/AppHeader';
import GameArea from './components/AppGameArea';

export default {
  name: 'App',
  components: {
    appHeader: Header,
    appGameArea: GameArea,
  },
};
</script>

<style lang="scss">
  #app {
    height: 100vh;
  }
</style>
